# Node modules
node_modules/

# Dotenv files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build outputs
build/
dist/
.parcel-cache/
/client/build
/client/dist
/server/node_modules # Redundant if node_modules/ is already there, but good for clarity

